<div class="auto-code-formatting">
  <header>
    <h1 class="auto-code-formatting__heading">Auto Code Formatting</h1>
  </header>

  <main class="auto-code-formatting__main">
    <div class="info-box">
      <p>This project demonstrates how we can enable auto code formatting with Prettier and JS-Beautify using custom
        formatting configurations via Husky. This ensures automatic formatting on Git pre-commit hooks.</p>
    </div>

    <div class="advantages">
      <label>Advantages:</label>
      <ul>
        <li>PR reviewers can focus on logic instead of unnecessary whitespace changes.</li>
        <li>Global formatting rules are enforced in the remote repository, ensuring consistency regardless of local
          plugin installations.</li>
        <li>Our pre-defined global code formatting rules will always be followed in our remote central repository, so it
          doesn't matter whether developers have installed these formatting plugins (Prettier, JS-Beautify) on their
          machine or not!</li>
        <li>Save your development time without worrying about code formatting.</li>
      </ul>
    </div>

    <div class="config-options">
      <label>More Configuration Options:</label>
      <ul>
        <li>
          <span>Prettier:</span>
          <a href="https://prettier.io/docs/en/options.html" target="_blank">
            Click here for Prettier configuration options
          </a>
        </li>
        <li>
          <span>JS-Beautify:</span>
          <a href="https://github.com/beautify-web/js-beautify#css--html" target="_blank">
            Click here for JS-Beautify configuration options
          </a>
        </li>
      </ul>
    </div>
  </main>

  <footer class="auto-code-formatting__footer">
    <span>Created by <strong><a href="https://www.linkedin.com/in/darshan-trambadiya" target="_blank">Darshan
          Trambadiya</a></strong></span>
  </footer>
</div>